<!DOCTYPE html>
<html lang="eus">
    <head>
 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NewLife</title>
        <link rel="icon" href="../../../public/logo.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        
    </head>
    <body>
    <header>
        <div>
        <h1>NewLife</h1>
        <img width="120" height="100" src="../../../public/logo.png"/>
    </div>
    </header>
    <div class="navbar">
        
        <a href="../Hasiera/index.html">Hasiera</a>
        <a href="OurInfo.html">Gure informazioa</a>
        <a href="../Katalogo/katalogoa.php">Katalogoa</a>
        <a href="../Notiziak/notiziak.php">Notiziak</a>
        <a href="../Hornitzaileak/hornitzaileak.php">Hornitzaileak</a>
        
        
        <div class="navbar-right">
            <a href="../Login/login.php">Saioa hasi</a>
            <a href="../Erregistratu/">Erregistratu</a>
        </div>
            
           
    </div>

    <div>
    <h2 >Gure informazioa</h2>
    <p>Gu Goierri Eskolako gazte talde bat gara, Iraitz, Ian eta Urko. Proiektu hau garatzeko Web-gune hau sortu behar izan dugu. Bertan gure enpresak salduko dituen ezaugarriak eta zerbitzuak aterako dira. <b>Eskerrik Asko!</b></p>
    </div>
    <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2915.3912448034343!2d-2.187762525016982!3d43.05423829096542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5036f59c0a5cc3%3A0x13ce0731367dd80d!2sC.%20Urdaneta%2C%2056%2C%2020240%20Ordizia%2C%20Gipuzkoa!5e0!3m2!1ses!2ses!4v1695376206783!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </body>
    <footer>
        <div class="footer">
            <p>&copy; 2023 Newlife - Eskubide guztiak erreserbatuta</p>
        </div>
    </footer>
</html>